* {
	margin: 0;
	padding: 0;
}

body {
	background: #e6e7eb;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1400px;
	/* 20px arriba-abajo y auto lo centra lateralmente */
	margin: 20px auto;
	display: grid;
	/* espaciado entre cajas de la grid */
	/* grid-gap: 10px; */
	/* 3 cols de una fracción cada una */
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4,auto);
	grid-template-areas: "header    header     header"
						 "contenido contenido  sidebar"
						 "widget-1  widget-2   sidebar" 
						 "footer    footer     footer "	;

}
/* todos los divs dentro del contenedor */
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .footer{
	background-color: white;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header{
 	background-color: 	#12203E;
	color: white;
	grid-area: header;
}
.contenedor .contenido{
	grid-area: contenido;
}
.contenedor .sidebar{
	color: white;
	background-color: rgb(226, 173, 74);
	/* Flexbox */
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2{
	background-color: rgb(61, 158, 175);
	color: white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenedor .widget-1{
	grid-area: widget-1;
}
.contenedor .widget-2{
	grid-area: widget-2;
}


.contenedor .footer{
	background-color: rgb(16, 35, 54);
	color: white;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
}

/* RESPONSIVE DESING */
@media screen and (max-width:768px ){
	.contenedor{
		grid-template-areas: "header     header    header"
							"contenido contenido  contenido"
							"sidebar   sidebar    sidebar" 
							"widget-1  widget-2   widget-2"
							"footer    footer     footer "	;
	}
	
}